//=============================
// Up To Top Button Styles
//=============================
#back-to-top-container {
  bottom: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;

  // This is used to put the button into the normal doc flow rather than
  // have its absolute position go below the footer
  &.va-top-button-container-relative {
    position: relative;
    button {
      transform: translateY(-6px);
    }
  }

  .usa-content {
    position: relative;
  }
  &:not(.va-top-button-container-relative) {
    button.va-top-button-transition-in {
      transform: translateY(-12px);
    }
  }

  button {
    bottom: 0;
    background-color: $color-gray-dark;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 44px;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    transition: all 250ms ease-in;
    right: 0;
    width: 44px;

    //This adds the text to the component so the user doesn't need to do it in the HTML
    &::after {
      @include media($medium-screen) {
        content: 'Back to top';
      }
    }

    // This adds the arrow icon so that the user doesn't have to do it inthe HTML
    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\F062';
      margin-right: 0;
      font-size: 2rem;

      @include media($medium-screen) {
        margin-right: 0.5em;
        font-size: 1.5rem;
      }
    }

    &:hover {
      background-color: $color-black;
    }
    &.va-top-button-transition-in {
      pointer-events: all;
      opacity: 1;
    }
    @include media($medium-screen) {
      padding-left: 17px;
      padding-right: 19px;
      width: auto;
    }
  }
}
