.loading-indicator-container {
  text-align: center;

  .loading-indicator {
    min-height: 8em;
    background: url(/img/loading-state.svg) center center no-repeat;
    background-size: contain;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
}

.async-loader {
  padding-bottom: 1em;
}
