.loading-indicator-container {
  text-align: center;

  .loading-indicator {
    display: block;
    height: 8em;
    margin-top: 2em;

    &:after {
      content: " ";
      display: inline-block;
      width: 7em;
      height: 7em;
      margin: 1px;
      border-radius: 50%;
      border: 8px solid #0071BB;
      border-color: #0071BB transparent #0071BB transparent;
      animation: spin 1.2s linear infinite;
    }

    &:focus {
      outline: none;
    }
  }
}

.async-loader {
  padding-bottom: 1em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
