// Styles for application modals

// Hide initially, to be shown if url contains #modal
// Alternatively, modal.hide() in content/includes/modal.html
#va-modal {
  display: none;
}

.va-modal {
  background: $color-va-modal-bg;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;

  @include media-maxwidth($small-screen) {
    overflow-y: scroll;
  }

  .va-modal-body {
    p:first-of-type {
      margin-top: 0;
    }
  }

  &-title {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  &-inner {
    background: $color-white;
    margin: auto;
    max-width: 40rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    cursor: auto;

    @include media-maxwidth($small-screen) {
      transform: none;
      top: 0;
    }
  }

  &-alert {
    max-width: 60rem;

    .alert-actions {
      margin-top: 2.5rem;

      button {
        margin: 0;

        + button {
          margin-left: 2rem;
        }
      }
    }
  }

  &-body {
    overflow-wrap: break-word;
    padding: 2rem;
    word-break: break-word;
    word-wrap: break-word;
  }

  &-button-group {
    bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    margin-top: 5rem;

    button {
      margin: 0 1rem 0 0;
      width: auto;
    }
  }

  &-large {
    .va-modal-inner {
      max-width: 75rem;
      width: 75vw;

      .va-modal-body {
        max-height: 95vh;
        overflow-y: auto;
      }
    }
  }
}

.va-modal-body {
  h3 {
    margin-top: 0;
  }
}

.va-modal button {
  white-space: nowrap;
}

button.va-modal-close {
  @include close-button;
}
