// Styles for application modals

// Hide initially, to be shown if url contains #modal
// Alternatively, modal.hide() in content/includes/modal.html
#va-modal {
  display: none;
}

.va-modal {
  background: $color-va-modal-bg;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;

  @include media-maxwidth($small-screen) {
    overflow-y: scroll;
  }

  .va-modal-body {
    p:first-of-type {
      margin-top: 0;
    }
  }

  .alert-actions {
    margin-top: 1.5rem;
  }

  &-title {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  &-inner {
    background: $color-white;
    margin: auto;
    max-width: 40rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    cursor: auto;

    @include media-maxwidth($small-screen) {
      transform: none;
      top: 0;
    }
  }

  &-body {
    overflow-wrap: break-word;
    padding: 2rem;
    word-break: break-word;
    word-wrap: break-word;
  }

  &-button-group {
    bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    margin-top: 5rem;

    button {
      margin: 0 1rem 0 0;
      width: auto;
    }
  }

  &-large {
    .va-modal-inner {
      max-width: 75rem;
      width: 75vw;

      .va-modal-body {
        max-height: 95vh;
        overflow-y: auto;
      }
    }
  }

  &-alert {
    .va-modal-inner {
      max-width: 60rem;
    }

    .va-modal-body {
      border-left-style: solid;
      border-left-width: 10px;
      padding: 2rem 4rem;
    }

    .va-modal-title {
      &::before {
        font-family: "Font Awesome 5 Free";
        margin-right: 1.5rem;
      }
    }
  }

  &-info {
    .va-modal-body {
      border-left-color: $color-primary-alt-dark;
    }

    .va-modal-title::before {
      content: "\f05a";
    }
  }

  &-error {
    .va-modal-body {
      border-left-color: $color-secondary-dark;
    }

    .va-modal-title::before {
      color: $color-secondary-dark;
      content: "\f06a"
    }
  }

  &-success {
    .va-modal-body {
      border-left-color: $color-green;
    }

    .va-modal-title::before {
      color: $color-green;
      content: "\f00c";
    }
  }

  &-warning {
    .va-modal-body {
      border-left-color: $color-gold;
    }

    .va-modal-title::before {
      content: "\f071";
    }
  }
}

.va-modal-body {
  h3 {
    margin-top: 0;
  }
}

.va-modal button {
  white-space: nowrap;
}

button.va-modal-close {
  background-color: transparent;
  color: $color-primary;
  font-size: 2.25rem;
  padding: 0;
  position: absolute;
  margin: 2rem;
  right: 0;
  top: 0;
  width: auto;
  z-index: 9;

  &:hover {
    background-color: transparent;
    color: $color-primary-darker;
  }

  &:active {
    background-color: transparent;
    color: $color-primary-darkest;
  }
}
