// CSS for pagination navigation
// TODO: Move these to vets-website

.va-pagination {
  border-top: 1px solid $color-gray-lightest;
  overflow: hidden;
  padding: 2rem 0 1rem;
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    background-color: transparent;
    border: 0;
    color: $color-link-default;
    display: inline-flex;
    font-size: 0.9em;
    font-weight: 400;
    justify-content: center;
    line-height: 2;
    padding: 0;
    transition: all 0.3s ease-in-out;
    transition-property: color, background-color, border-color;
  }

  // va-pagination-prev and va-pagination-next
  &-prev,
  &-next {
    display: flex;
    position: relative;

    button {
      border-radius: 0;
      margin: 0;

      &:hover {
        background-color: transparent;
        color: $color-link-default;
        text-decoration: underline;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  // va-pagination-inner
  &-inner {
    white-space: nowrap;
    overflow: hidden;

    button {
      border-radius: 1000px;
      height: 3rem;
      margin: 0 0.5rem;
      width: 3rem;
    }

    button[aria-current='true'],
    button:hover,
    button:focus {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  // va-pagination-prev, va-pagination-next, va-pagination-inner
  &-prev,
  &-next,
  &-inner {
    // a11y fix, ensures we show full focus outline: https://github.com/department-of-veterans-affairs/va.gov-team/issues/8790
    padding-bottom: 4px;
    padding-top: 4px;
  }

  // va-pagination-active
  &-active {
    background-color: $color-primary;
    color: $color-white;
  }

  // va-pagination-prev media queries
  &-prev {
    @media (max-width: $medium-screen) {
      margin-left: -3rem;
      padding-right: 1rem;
    }

    &:not(:empty) {
      @media (min-width: $small-screen) {
        span::before {
          content: '\2039\a0\a0';
        }
      }
    }
  }

  // va-pagination-next media queries
  &-next {
    @media (max-width: $medium-screen) {
      margin-right: -3rem;
      padding-left: 1rem;
    }

    &:not(:empty) {
      @media (min-width: $small-screen) {
        span::after {
          content: '\a0\a0\203a';
        }
      }
    }
  }

  // va-pagination-next and va-pagination-prev media queries
  &-next,
  &-prev {
    @media (min-width: $medium-screen) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  // va-pagination-inner media queries
  &-inner {
    @media (max-width: $medium-screen) {
      width: 20rem;
    }

    @media (min-width: $large-screen) {
      width: 40rem;
    }
  }
}
