@import "~uswds/src/stylesheets/lib/bourbon";
@import "~uswds/src/stylesheets/lib/neat";
@import "~uswds/src/stylesheets/lib/normalize"; // Currently 3.0.3

@import "~uswds/src/stylesheets/core/variables";
@import "~uswds/src/stylesheets/core/fonts";
@import "base/b-variables";

.fractal-vets-logo {
  display: block;
  height: inherit;
  width: inherit;
  path, rect {
    fill: white;
  }
}

.Header {
  color: $color-white;

  .f-pipe {
    font-size: 3rem;
  }

  h2 {
    color: $color-white;
  }
}

.Header-navToggle svg {
  fill: $color-white;
}
