<div class="va-notice--banner">
    <div class="va-notice--banner-inner">
      <div class="va-wip">
        <p>This site is a <a target="_blank" href="https://www.vets.gov/playbook/design/">work in progress.</a> If you don&rsquo;t find what you need, visit <a target="_blank" href="http://www.va.gov">VA.gov</a>.</p>
      </div>
      <div class="va-crisis-line">
        <div class="va-flex">
          <button data-show="#modal-crisisline" class="va-crisis-line-button va-overlay-trigger">
            <span class="va-flex">
              <span class="vcl"></span>
              Get help from Veterans Crisis Line
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>