.dash-build-div {
  display: flex;
  justify-content: space-around;
  font-size: 0.85em;
}

.dash-github-image {
  width: 8rem;
  border-radius: 5rem;
}

.dash-td-center {
  text-align: center;
}

.dash-true-icon {
  color: green;
}

.dash-false-icon {
  color: red;
}
