.site-c-content {
  display: flex;
  align-items: stretch;
  min-height: calc(100vh - 86px);
}

.site-c-content__nav {
  padding-left: 2rem;
  display: none;

  @include media($nav-width) {
    display: block;
    max-width: 300px !important;
  }
}

.site-c-content__content {
  padding: units(1.5);

  @include media($nav-width) {
    padding: units(4);
  }
}

.site-l-wrapper {
  padding: 0 units(3);

  @include media($nav-width) {
    padding: 0 units(5);
  }

  @include media($large-screen) {
    padding: 0 units(10);
  }
}

.site-l-wrapper--center {
  margin-left: auto;
  margin-right: auto;
}
