$site_colors: (
  vam-black: #1d1e20,
  alert-red: #fd6060,
  primary-green: #50e3c2,
  vam-white: #fff,

  vam-grey-1: #eaeaeb,
  vam-grey-2: #ccc,
  vam-grey-3: #ccc,
  vam-grey-4: #ccc,
  vam-grey-5: #ccc
);

@function siteColor($c) {
  @return map-get($site_colors, $c);
}