import React from 'react';
import SearchMenu from './SearchMenu';

export default function SearchMenuExample(props) {
  return (
    <SearchMenu
      title={props.title}
      id={props.id}
      isOpen
      clickHandler={() => {}}>
    </SearchMenu>
  );
}
