# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "America/New_York"
    open-pull-requests-limit: 1
    cooldown:
      default-days: 7
    ignore:
      ## Ignore Gatbsy related dependencies since we're deprecating the Gatsby site
      - dependency-name: "gatsby-plugin-react-helmet"
      - dependency-name: "enzyme-adapter-react-16"
      - dependency-name: "gatsby-remark-mermaid"
      - dependency-name: "eslint-plugin-prettier"
        ## Ignore major update version for now
        versions: ["3.x"]
      
