.form-radio-buttons {
  [type=radio]:focus + label::before {
    outline: none;
  }
}

a:focus {
  @include focus-gold-light-outline;
  outline-offset: 0;
}

input:focus {
  @include focus-gold-light-outline;
}

select:focus {
  @include focus-gold-light-outline;
}
