{
  "presets": [
    ["env", {
      "targets": {
        "uglify": true,
        "browsers": ["last 2 versions", "ie 11", "not ie 10"]
      },
      "useBuiltIns": true
    }],
    "react",
    "stage-2",
  ],
  "plugins": [
    "lodash",
    ["transform-react-remove-prop-types", {
      "removeImport": true
    }]
  ]
}
