<html>
  
  <head>
    
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/style_vets.css' }}">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700|Roboto+Slab" rel="stylesheet" type="text/css">

    <title>{{ _target.label }} | Vets.gov</title>
    
  </head>
  
  <body>
    
    {{{ yield }}}
    
  </body>
</html>