

<div id="reactMount" data-tpl="additionalinfo"><div class="form-expanding-group"><button type="button" class="additional-info-button va-button-link" aria-expanded="false" aria-controls="tooltip-1"><span class="additional-info-title">Additional Information<i class="fa fa-angle-down"></i></span></button><span id="tooltip-1"></span></div></div><script>window.currentProps = {"package":{"name":"department-of-veteran-affairs/jean-pants","version":"0.1.0"},"assetPath":"/","componentSourcePath":"./AdditionalInfo.jsx","triggerText":"Additional Information"}</script>
