

<div id="reactMount" data-tpl="breadcrumbs"><nav aria-label="Breadcrumb" aria-live="polite" class="va-nav-breadcrumbs" data-mobile-width="481" id="va-breadcrumbs-66"><ul class="row va-nav-breadcrumbs-list columns" id="va-breadcrumbs-list-67"><li><a href="#">Link 1</a></li><li><a href="#">Link 2</a></li><li><a href="#" aria-current="page">Link 3</a></li></ul></nav></div><script>window.currentProps = {"package":{"name":"department-of-veterans-affairs/formation","version":"1.0.0"},"assetPath":"/design-system/","isProduction":true,"componentSourcePath":"./Breadcrumbs.jsx"}</script>
