

<div id="reactMount" data-tpl="breadcrumbs"><nav aria-label="Breadcrumb" aria-live="polite" class="va-nav-breadcrumbs" id="va-breadcrumbs-74"><ul class="row va-nav-breadcrumbs-list columns" id="va-breadcrumbs-list-75"><li><a href="#">Home</a></li><li><a href="#">Level One</a></li><li><a href="#" aria-current="page">Level Two</a></li></ul></nav></div><script>window.currentProps = {"package":{"name":"department-of-veterans-affairs/formation","version":"1.7.1"},"assetPath":"/design-system/","isProduction":true,"componentSourcePath":"./Breadcrumbs.jsx"}</script>
