

<div id="reactMount" data-tpl="errorabledate"></div><script>window.currentProps = {"package":{"name":"department-of-veteran-affairs/jean-pants","version":"0.1.0"},"assetPath":"/","isProduction":null,"componentSourcePath":"./ErrorableDate.jsx","required":true,"label":"Please tell us a date","name":"Errorable Date","date":{"day":{"value":"14","dirty":null},"month":{"value":"4","dirty":null},"year":{"value":"1983","dirty":null}},"toolTipText":"This is a tool tip","requiredMessage":"Please provide a response","invalidMessage":"Please provide a valid date"}</script>
