

<div id="reactMount" data-tpl="expandinggroup"><div><button>Toggle Expanding Group</button><div class="form-expanding-group form-expanding-group-open"><div>visible child</div><span><div><div>hidden child</div></div></span></div></div></div><script>window.currentProps = {"package":{"name":"department-of-veteran-affairs/jean-pants","version":"0.1.0"},"assetPath":"/design-system/","isProduction":true,"componentSourcePath":"./ExpandingGroup.jsx","open":true,"expandedContentId":"expandedContentId"}</script>
