

<div id="reactMount" data-tpl="loadingindicator"><div class="loading-indicator-container"><div class="loading-indicator" role="progressbar" aria-valuetext="Loading your application" tabindex="0"></div>Loading your application</div></div><script>window.currentProps = {"package":{"name":"department-of-veteran-affairs/jean-pants","version":"0.1.0"},"assetPath":"/design-system/","isProduction":true,"componentSourcePath":"LoadingIndicator.jsx","id":"default","message":"Loading your application","setFocus":true}</script>
