import React from 'react';
import Pagination from './Pagination';

export default function PaginationExample(props) {
  return (
    <Pagination
      includeSearch={props.includeSearch}
      crumbs={props.crumbs}/>
  );
}
