//primary

$color-primary:#0071bc;
$color-primary-darker:#003E73;
$color-primary-darkest:#112e51;
$color-primary-alt:#02bfe7;
$color-primary-alt-lightest:#e1f3f8;
$color-primary-alt-light:#9bdaf1;
$color-primary-alt-dark:#00a6d2;
$color-primary-alt-darkest:#046b99;

//secondary 

$color-secondary:#e31c3d;
$color-secondary-lightest:#f9dede;
$color-secondary-light:#e59393;
$color-secondary-dark:#cd2026;
$color-secondary-darkest:#981b1e;

//grays

$color-gray-dark:#323a45;
$color-gray-lightest:#f1f1f1;
$color-gray-lighter:#d6d7d9;
$color-gray-light:#aeb0b5;
$color-gray-medium:#757575;
$color-gray:#5b616b;
$color-gray-warm-dark:#494440;
$color-gray-warm-light:#e4e2e0;
$color-gray-cool-light:#dce4ef;

//golds

$color-gold:#fdb81e;
$color-gold-lightest:#fff1d2;
$color-gold-lighter:#fad980;
$color-gold-light:#f9c642;
$color-gold-darker:#988530;

//greens

$color-green:#2e8540;
$color-green-lightest: #e7f4e4;
$color-green-lighter:#94bfa2;
$color-green-light: #4aa564;
$color-green-darker:#195c27;

//defaults

$color-link-default:#004795;
$color-visited:#4c2c92;
$color-focus:#3e94cf;
$color-base:#212121;
$color-black:#000000;
$color-white: #ffffff;


