<!--
Should display with header, footer, no sidenav
-->

{% extends '_uswds.njk' %}

{% block body %}

{% include '@header' %}

{% include '@breadcrumbs' %}
<br>
SIDENAV: {% include '@sidenav' %}

  <div class="usa-grid" style="padding: 2em">
    <div class="usa-width-one-whole">

      {{ yield }}

    </div>
  </div>

<div class="usa-grid">

  PAGINATION GOES HERE

</div>

{% include '@footer' %}

{% endblock %}
