<!-- do you render {{ family }} -->

{% for f in family %}

<section class='palette-container'>
  <h3>{{ f.name }}</h3>
  <p>Colors: {{ f.color }}</p>

  {% for c in f.color %}

  <div class='palette-swatch'>
    <h4>{{ c.name }}</h4>
    {{ c.name }}<br>
    {{ c. hex }}
  </div>

  {% endfor %}

</section>
{% endfor %}
