{% for variant in variants %}

<section>
  <h1>{{ type }}</h1>
  <div>
    <h2>{{ name }}</h2>
    <h3>Hex: {{ hex }}</h3>
    <h3>Contrast: {{ contrast }}</h3>
    <div class='swatch-sample {{ var }}'>
    </div> <!-- the color swatch itself -->

  </div> <!-- swatch container -->
</section> <!-- family container -->

{% endfor %}

<!--
{% for family in family %}

<div class='row'>
  <h1> {{ family.name }} </h2>

  {% for color in family.color %}

    <div class='fr-color-family {{ color.var }}'>
      <h2>{{ color.name }}</h2>
      <p>Hex: {{ color.hex }}</p>
      <p>Contrast rating: {{ color.contrast }}
    </div>

  {% endfor %}

  </div>
{% endfor %}
-->
