<h2 class="hub-page-link-list--title">
 {{ title }}
</h2>
<ul id="get" class="hub-page-link-list">
{% for link in links %}
  <li class="hub-page-link-list--item">
    <a href="{{ link.url }}">
      <span class="hub-page-link-list--header">
       {{ link.label }}
       <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
      </span>
      <p class="hub-page-link-list--description">
      {{ link.description }}
      </p>
    </a>
  </li>
  {% endfor %}
</ul>
