import React from 'react';
import HelpMenu from './HelpMenu';

export default function HelpMenuExample(props) {
  return (
    <HelpMenu
      {...props}
      clickHandler={() => {}}>
    </HelpMenu>
  );
}
