import React from 'react';
import SearchMenu from './HelpMenu';

export default function HelpMenuExample(props) {
  return (
    <HelpMenu
      {...props}
      clickHandler={() => {}}>  
    </HelpMenu>
  );
}
