import React from 'react';
import ErrorableFileInput from './ErrorableFileInput';

export default function ErrorableFileInputExample(props) {
  return (
          <ErrorableFileInput
            onChange={(e) => e}
            {...props}/>
  );
}
