<div class="form-radio-buttons">
  <input type="radio" name="create-or-update" id="new-application" value="new-application" data-next-question="create" data-alternate="existing-application">
  <label for="new-application">Applying for a new benefit</label>
  <input type="radio" name="create-or-update" id="existing-application" value="existing-application" data-next-question="update" data-alternate="new-application">
  <label for="existing-application">Updating my current education benefits</label>
</div>