<header class="header">
  <div class="incompatible-browser-warning">
    <div class="row full">
      <div class="small-12">
        Your browser is out of date. To use this website, please <a href="https://whatbrowser.org/">update your browser</a> or use a different device.
      </div>
    </div>
  </div>

  <div class="va-notice--banner">
    <div class="va-notice--banner-inner">
      {% include '@banner' %}
      <div class="va-crisis-line">
        <div class="va-flex">
          <button data-show="#modal-crisisline" class="va-crisis-line-button va-overlay-trigger" onClick="showModal(this);">
            <span class="va-flex">
              <span class="vcl"></span>
              Get help from Veterans Crisis Line
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /header alert box -->

  <div class="row va-flex" id="va-header-logo-menu">
    <div role="banner" class="va-header-logo-wrapper">
      <a href="/" class="va-header-logo">
        <img src="{{ uswds.path }}/img/svglogo.svg">
      </a>
    </div>
    {% if body_class != 'page-playbook' %}
      <div id="vetnav-controls">
        <button aria-controls="vetnav" aria-expanded="false" hidden type="button" class="vetnav-controller-close">
          <span class="va-flex">
            <img src="{{ uswds.path }}/img/icons/close.svg">
            Close
          </span>
        </button>
        <button aria-controls="vetnav" type="button" aria-expanded="false" class="vetnav-controller-open">
          <span class="va-flex">
            <img src="{{ uswds.path }}/img/arrow-down.svg">
            Menu
          </span>
        </button>
      </div>
    {% endif %}

    <div id="login-root" class="vet-toolbar"></div>
    {% include '@navigation' %}

  </div>

</header>

{% include '@vcl' %}

<!-- hacky hacky hacky -->
<script type="text/javascript">

  function showModal(elem) {
    //console.log('vcl clicked', elem);

    var parentClasses = document.getElementById("modal-crisisline").classList;

    if(elem.classList.contains('va-overlay-close')) {
      parentClasses.add('va-overlay');
    } else if(parentClasses.contains('va-overlay')) {
      parentClasses.remove('va-overlay');
    }


  }
</script>
