/* fractal-specific */
/* there has to be a better way to write this */
.color-primary {
  
  background:$color-primary;
}

.color-primary-darker {
  
  background:$color-primary-darker;
}

.color-primary-darkest {
  
  background:$color-primary-darkest;
}

.color-primary-alt {
  
  background:$color-primary-alt;
}

.color-primary-alt-lightest {
  
  background:$color-primary-alt-lightest;
}

.color-primary-alt-light {
  
  background:$color-primary-alt-light;
}

.color-primary-alt-dark {
  
  background:$color-primary-alt-dark;
}

.color-primary-alt-darkest {
  
  background:$color-primary-alt-darkest;
}

.color-secondary {
  
  background:$color-secondary;
}

.color-secondary-lightest {
  
  background:$color-secondary-lightest;
}

.color-secondary-light {
  
  background:$color-secondary-light;
}

.color-secondary-dark {
  
  background:$color-secondary-dark;
}

.color-secondary-darkest {
  
  background:$color-secondary-darkest;
}

.color-gray-dark {
  
  background:$color-gray-dark;
}

.color-gray-lightest {
  
  background:$color-gray-lightest;
}

.color-gray-lighter {
  
  background:$color-gray-lighter;
}

.color-gray-light {
  
  background:$color-gray-light;
}

.color-gray-medium {
  
  background:$color-gray-medium;
}

.color-gray {
  
  background:$color-gray;
}

.color-gray-warm-dark {
  
  background:$color-gray-warm-dark;
}

.color-gray-warm-light {
  
  background:$color-gray-warm-light;
}

.color-gray-cool-light {
  
  background:$color-gray-cool-light;
}

.color-gold {
  
  background:$color-gold;
}

.color-gold-lightest {
  
  background:$color-gold-lightest;
}

.color-gold-lighter {
  
  background:$color-gold-lighter;
}

.color-gold-light {
  
  background:$color-gold-light;
}

.color-gold-darker {
  
  background:$color-gold-darker;
}

.color-green {
  
  background:$color-green;
}

.color-green-lightest {
  
  background:$color-green-lightest;
}

.color-green-lighter {
  
  background:$color-green-lighter;
}

.color-green-light{
  
  background:$color-green-light;
}

.color-green-darker {
  
  background:$color-green-darker;
}

.color-link-default {
  
  background:$color-link-default;
}

.color-visited {
  
  background:$color-visited;
}

.color-focus {
  
  background:$color-focus;
}

.color-base {
  
  background:$color-base;
}

.color-black {
  
  background:$color-black;
}

.color-white {
  
  background:$color-white;
  color:$color-base;
}