h1 {
  
  font-weight: 700;
  font-size: 2em/32px;
  line-height: 1.3em/42px;
  color: $color-gray-dark;
}

h2 {
  
  
}

h3 {
  
  
}

h4 {
  
  
}

h5 {
  
  
}

h6 {
  
  
}

p {
  
  color: #323a45;
}

.va-introtext {
  
  color: #003e73;
  letter-spacing: normal;
  font-size: 1.25em;
  
}