/* Accordion */
.ac-accordion__header {
  border: 1px solid var(--color-black);
  border-radius: 3px;
  margin: 0 0 2rem 0;
  position: relative;
}

.ac-accordion__header button {
  background: none;
  border: none;
  display: block;
  font-size: 2.1rem;
  height: 5rem;
  padding: 0.325rem 1.625rem;
  text-align: left;
  width: 100%;
}

.ac-accordion__header button:hover,
.ac-accordion__header button:focus {
  background: var(--color-purple);
  color: var(--color-white);
}

.ac-accordion__header button:hover + svg,
.ac-accordion__header button:focus + svg {
  color: var(--color-white);
  fill: currentColor;
}

.ac-accordion__header svg {
  height: 3.5rem;
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  z-index: 1;
}

.ac-accordion__body {
  border-left: 6px solid #ccc;
  padding: 0.125rem 0 0.125rem 2rem;
  margin: 0 0 3rem 1rem;
  max-width: 60ch;
}

button[aria-expanded='true'] + svg .vert {
  display: none;
}

/* Address Block */
.ac-address-block span {
  display: block;
}

.ac-address-block span[itemprop='name'] {
  font-weight: var(--font-weight-700);
}

.ac-address-block span[itemprop='postalCode']::after {
  content: '⭑';
  display: block;
  margin-bottom: 2rem;
}
