.ac-form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.ac-form__legend {
  border-top: 3px solid #ccc;
  display: block;
  font-weight: 700;
  margin: 0;
  padding: 1em 0 0;
  width: 100%;
}

.ac-form__label {
  display: block;
  margin: 1em 0 0.25em;
}

.ac-form__button {
  display: block;
  margin: 1.5em 0 0;
}
