/*
 * ========================================
 * ELEMENTS
 * ========================================
 */
[href]:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 2px solid #face00;
  outline-offset: 2px;
}

/*
 * ========================================
 * CLASSES
 * ========================================
 */
.ac-helper--sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
