.ac-primary-nav {
  margin: 0;
  padding: 0;
}

.ac-primary-nav__list-item {
  display: inline-block;
  list-style-type: none;
  margin-right: 1em;
}

.ac-primary-nav__list-item:last-of-type {
  margin-right: 2em;
}

.ac-primary-nav__list-item > a {
  /* SR Talking Point - Color contrast needs to be higher. Don't assume all SR users are blind. */
  color: #bebbbb;
  text-decoration: none;
}
