.vads-u-background-color--transparent {
  background-color: transparent !important;
}

.vads-u-background-color--base {
  background-color: $color-base !important;
}

.vads-u-background-color--white {
  background-color: $color-white !important;
}

.vads-u-background-color--black {
  background-color: $color-black !important;
}

.vads-u-background-color--orange {
  background-color: $color-orange !important;
}

.vads-u-background-color--link-default {
  background-color: $color-link-default !important;
}

.vads-u-background-color--va-accent {
  background-background-color: $color-va-accent !important;
}

.vads-u-background-color--warning-message {
  background-color: $color-warning-message !important;
}

.vads-u-background-color--gibill-accent {
  background-color: $color-gibill-accent !important;
}

/*
  Primary
*/
.vads-u-background-color--primary {
  background-color: $color-primary !important;
}

.vads-u-background-color--primary-darker {
  background-color: $color-primary-darker !important;
}

.vads-u-background-color--primary-darkest {
  background-color: $color-primary-darkest !important;
}

/*
  Primary alt
*/
.vads-u-background-color--primary-alt {
  background-color: $color-primary-alt !important;
}

.vads-u-background-color--primary-alt-dark {
  background-color: $color-primary-alt-dark !important;
}

.vads-u-background-color--primary-alt-darkest {
  background-color: $color-primary-alt-darkest !important;
}

.vads-u-background-color--primary-alt-light {
  background-color: $color-primary-alt-light !important;
}

.vads-u-background-color--primary-alt-lightest {
  background-color: $color-primary-alt-lightest !important;
}

/*
  Secondary
*/
.vads-u-background-color--secondary {
  background-color: $color-secondary !important;
}

.vads-u-background-color--secondary-dark {
  background-color: $color-secondary-dark !important;
}

.vads-u-background-color--secondary-darkest {
  background-color: $color-secondary-darkest !important;
}

.vads-u-background-color--secondary-light {
  background-color: $color-secondary-light !important;
}

.vads-u-background-color--secondary-lightest {
  background-color: $color-secondary-lightest !important;
}



/*
  Grays
*/

.vads-u-background-color--gray {
  background-color: $color-gray !important;
}

.vads-u-background-color--gray-dark {
  background-color: $color-gray-dark !important;
}

.vads-u-background-color--gray-medium {
  background-color: $color-gray-medium !important;
}

.vads-u-background-color--gray-light {
  background-color: $color-gray-light !important;
}

.vads-u-background-color--gray-light-alt {
  background-color: $color-gray-light-alt !important;
}

.vads-u-background-color--gray-lighter {
  background-color: $color-gray-lighter !important;
}

.vads-u-background-color--gray-lightest {
  background-color: $color-gray-lightest !important;
}

.vads-u-background-color--gray-warm-dark {
  background-color: $color-gray-warm-dark !important;
}

.vads-u-background-color--gray-warm-light {
  background-color: $color-gray-warm-light !important;
}

.vads-u-background-color--gray-cool-light {
  background-color: $color-gray-cool-light !important;
}

/*
  Gold
*/
.vads-u-background-color--gold {
  background-color: $color-gold !important;
}

.vads-u-background-color--gold-darker {
  background-color: $color-gold-darker !important;
}

.vads-u-background-color--gold-light {
  background-color: $color-gold-light !important;
}

.vads-u-background-color--gold-lighter {
  background-color: $color-gold-lighter !important;
}

.vads-u-background-color--gold-lightest {
  background-color: $color-gold-lightest !important;
}


/*
  Green
*/
.vads-u-background-color--green {
  background-color: $color-green !important;
}

.vads-u-background-color--green-darker {
  background-color: $color-green-darker !important;
}

.vads-u-background-color--green-light {
  background-color: $color-green-light !important;
}

.vads-u-background-color--green-lighter {
  background-color: $color-green-lighter !important;
}

.vads-u-background-color--green-lightest {
  background-color: $color-green-lightest !important;
}

/*
  Cool blue
*/
.vads-u-background-color--cool-blue {
  background-color: $color-cool-blue !important;
}

.vads-u-background-color--cool-blue-light {
  background-color: $color-cool-blue-light !important;
}

.vads-u-background-color--cool-blue-lighter {
  background-color: $color-cool-blue-lighter !important;
}

.vads-u-background-color--cool-blue-lightest {
  background-color: $color-cool-blue-lightest !important;
}

/*
  Hub colors
*/

.vads-u-background-color--hub-health-care {
  background-color: $color-hub-health-care !important;
}

.vads-u-background-color--hub-education {
  background-color: $color-hub-education !important;
}

.vads-u-background-color--hub-disability {
  background-color: $color-hub-disability !important;
}

.vads-u-background-color--hub-careers {
  background-color: $color-hub-careers !important;
}

.vads-u-background-color--hub-pension {
  background-color: $color-hub-pension !important;
}

.vads-u-background-color--hub-housing {
  background-color: $color-hub-housing !important;
}

.vads-u-background-color--hub-life-insurance {
  background-color: $color-hub-life-insurance !important;
}

.vads-u-background-color--hub-burials {
  background-color: $color-hub-burials !important;
}

.vads-u-background-color--hub-records {
  background-color: $color-hub-records !important;
}

.vads-u-background-color--hub-family-member {
  background-color: $color-hub-family-member !important;
}

.vads-u-background-color--hub-service-member {
  background-color: $color-hub-service-member !important;
}