.vads-u-color--base {
  color: $color-base;
}

.vads-u-color--white {
  color: $color-white;
}

.vads-u-color--blue {
  color: $color-blue;
}

.vads-u-color--light-blue {
  color: $color-light-blue;
}

.vads-u-color--black {
  color: $color-black;
}

.vads-u-color--orange {
  color: $color-orange;
}

.vads-u-color--link-default {
  color: $color-link-default;
}

.vads-u-color--va-accent {
  color: $color-va-accent;
}

.vads-u-color--warning-message {
  color: $color-warning-message;
}

.vads-u-color--gibill-accent {
  color: $color-gibill-accent;
}

/*
  Primary
*/
.vads-u-color--primary {
  color: $color-primary;
}

.vads-u-color--primary-darker {
  color: $color-primary-darker;
}

.vads-u-color--primary-darkest {
  color: $color-primary-darkest;
}

/*
  Primary alt
*/
.vads-u-color--primary-alt {
  color: $color-primary-alt;
}

.vads-u-color--primary-alt-dark {
  color: $color-primary-alt-dark;
}

.vads-u-color--primary-alt-darkest {
  color: $color-primary-alt-darkest;
}

.vads-u-color--primary-alt-light {
  color: $color-primary-alt-light;
}

.vads-u-color--primary-alt-lightest {
  color: $color-primary-alt-lightest;
}

/*
  Secondary
*/
.vads-u-color--secondary {
  color: $color-secondary;
}

.vads-u-color--secondary-dark {
  color: $color-secondary-dark;
}

.vads-u-color--secondary-darkest {
  color: $color-secondary-darkest;
}

.vads-u-color--secondary-light {
  color: $color-secondary-light;
}

.vads-u-color--secondary-lightest {
  color: $color-secondary-lightest;
}



/*
  Grays
*/

.vads-u-color--gray {
  color: $color-gray;
}

.vads-u-color--gray-dark {
  color: $color-gray-dark;
}

.vads-u-color--gray-medium {
  color: $color-gray-medium;
}

.vads-u-color--gray-light {
  color: $color-gray-light;
}

.vads-u-color--gray-light-alt {
  color: $color-gray-light-alt;
}

.vads-u-color--gray-lighter {
  color: $color-gray-lighter;
}

.vads-u-color--gray-lightest {
  color: $color-gray-lightest;
}

.vads-u-color--gray-warm-dark {
  color: $color-gray-warm-dark;
}

.vads-u-color--gray-warm-light {
  color: $color-gray-warm-light;
}

.vads-u-color--gray-cool-light {
  color: $color-gray-cool-light;
}

/*
  Gold
*/
.vads-u-color--gold {
  color: $color-gold;
}

.vads-u-color--gold-darker {
  color: $color-gold-darker;
}

.vads-u-color--gold-light {
  color: $color-gold-light;
}

.vads-u-color--gold-lighter {
  color: $color-gold-lighter;
}

.vads-u-color--gold-lightest {
  color: $color-gold-lightest;
}


/*
  Green
*/
.vads-u-color--green {
  color: $color-green;
}

.vads-u-color--green-darker {
  color: $color-green-darker;
}

.vads-u-color--green-light {
  color: $color-green-light;
}

.vads-u-color--green-lighter {
  color: $color-green-lighter;
}

.vads-u-color--green-lightest {
  color: $color-green-lightest;
}

/*
  Cool blue
*/
.vads-u-color--cool-blue {
  color: $color-cool-blue;
}

.vads-u-color--cool-blue-light {
  color: $color-cool-blue-light;
}

.vads-u-color--cool-blue-lighter {
  color: $color-cool-blue-lighter;
}

.vads-u-color--cool-blue-lightest {
  color: $color-cool-blue-lightest;
}

/*
  Hub colors
*/

.vads-u-color--hub-health-care {
  color: $indigo-cool-60
}

.vads-u-color--hub-education {
  color: $mint-cool-50
}

.vads-u-color--hub-disability {
  color: $red-60
}

.vads-u-color--hub-careers {
  color: $orange-warm-50
}

.vads-u-color--hub-pension {
  color: $green-cool-50
}

.vads-u-color--hub-housing {
  color: $gold-50;
}

.vads-u-color--hub-life-insurance {
  color: $green-warm-50;
}

.vads-u-color--hub-burials {
  color: $blue-50;
}

.vads-u-color--hub-records {
  color: $violet-warm-60;
}