$font-sizes: (
  sm: 1.5rem,
  base: 1.6rem,
  md: 1.7rem,
  lg: 2rem,
  xl: 3rem,
  2xl: 4rem,
  h1: 4rem,
  h2: 3rem,
  h3: 2rem,
  h4: 1.7rem,
  h5: 1.5rem,
  h6: 1.5rem
);

// Standard classes
@each $name, $size in $font-sizes {
  .vads-u-font-size--#{$name} {
    font-size: $size !important;
  }
}

// Responsive classes
@each $bp_name, $bp_value in $breakpoints {
  @media (min-width: $bp_value) {
    @each $name, $size in $font-sizes {
      .#{$bp_name}\:vads-u-font-size--#{$name} {
        font-size: $size !important;
      }
    }
  }
}