@import '../override-function';

$font-sizes: (
  sm: scale-rem(1.5rem),
  base: scale-rem(1.6rem),
  md: scale-rem(1.7rem),
  lg: scale-rem(2rem),
  xl: scale-rem(3rem),
  2xl: scale-rem(4rem),
  h1: scale-rem(4rem),
  h2: scale-rem(3rem),
  h3: scale-rem(2rem),
  h4: scale-rem(1.7rem),
  h5: scale-rem(1.5rem),
  h6: scale-rem(1.5rem)
);

// Standard classes
@each $name, $size in $font-sizes {
  .vads-u-font-size--#{$name} {
    font-size: $size !important;
  }
}

// Responsive classes
@each $bp_name, $bp_value in $breakpoints {
  @media (min-width: $bp_value) {
    @each $name, $size in $font-sizes {
      .#{$bp_name}\:vads-u-font-size--#{$name} {
        font-size: $size !important;
      }
    }
  }
}