import React from 'react';
import CollapsiblePanel from './CollapsiblePanel.jsx';

export default function CollapsiblePanelExample(props) {
  return (
    <CollapsiblePanel
      panelName={props.panelName}>
      <div>Some content goes here.</div>
    </CollapsiblePanel>
  );
}
