import React from 'react';
import DropDownPanel from './DropDownPanel';

export default function DropDownPanelExample(props) {
  return (
    <DropDownPanel
      buttonText={props.buttonText}
      cssClass={props.cssClass}
      isOpen={props.isOpen}
      contents={props.contents}
      clickHandler={(e) => {}}
    />);
}
