import React from 'react';
import AlertBox from './Breadcrumbs';

export default function BreadcrumbsExample(props) {
  return (
    <Breadcrumbs
      headline={props.headline}
      content={props.content}
      status={props.status}
      isVisible={props.isVisible}/>
  );
}
