import React from 'react';
import Tooltip from './Tooltip';

export default function TooltipExample(props) {
  return (
          <Tooltip
            toolTipText="Tooltip text"
            tabIndex={1}/>
  );
}
