@import '../override-function';

//++++++++++++++++++++++++++++++++++++
// NOTE:
//
// For breakpoint variable values,
// see b-breakpoints.scss
//++++++++++++++++++++++++++++++++++++

//===================================
// Typography
//===================================
// These variables override values set in either
// ~uswds/src/stylesheets/core/defaults" or
// ~uswds/src/stylesheets/core/variables"

$georgia: "Georgia", "Cambria", "Times New Roman", "Times", serif;
$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-sans: 'Source Sans Pro', $helvetica !default;
$font-serif:          "Bitter", $georgia;

$em-base: 100%;
$base-font-size: rem(16px);

$font-normal:   400 !default;
$font-bold:     700 !default;

$h6-font-size:        scale-rem(1.5rem);

//===================================
// Magic Numbers
//===================================

$text-max-width:      scale-rem(70rem); // Note: USWDS value is 53rem;
$site-max-width:      scale-rem(100rem); // Worksout to about 1000px. USWDS value is 1040px


//================
//  USWDS V3 Colors
//===============
$color-aqua:                 #00bde3;
$color-aqua-dark:            #009ec1;
$color-aqua-lightest:        #e1f3f8;
$color-blue:                 #005ea2;
$color-blue-darkest:         #162e51;

$color-primary:              $color-blue;
$color-primary-darker:       #1a4480;
$color-primary-darkest:      $color-blue-darkest;

$color-primary-alt:          $color-aqua;
$color-primary-alt-light:    #97d4ea;
$color-primary-alt-lightest: $color-aqua-lightest;
$color-primary-alt-dark:     #28a0cb;

//===================================
// Formation colors that override (or restate) USWDS values
// Also see: https://standards.usa.gov/components/colors/
//===================================

$color-purple:               #4c2c92;
$color-white:                #ffffff;
$color-red:                  #e31c3d;
$color-red-lightest:         #f9dede;
$color-red-light:            #e59393;
$color-red-dark:             #cd2026;

$color-base:                 #212121;

$color-secondary:            $color-red;
$color-secondary-lightest:   $color-red-lightest;
$color-secondary-light:      $color-red-light;
$color-secondary-dark:       $color-red-dark;
$color-secondary-darkest:    #981b1e;

$color-gray:                 #5b616b;
$color-gray-light:           #aeb0b5;
$color-gray-lighter:         #d6d7d9;
$color-gray-lightest:        #f1f1f1;
$color-gray-medium:          #757575;
$color-gray-dark:            #323a45;
$color-gray-warm-light:      #e4e2e0;
$color-gray-warm-dark:       #494440;
$color-gray-cool-light:      #dce4ef;

$color-green:                #2e8540;
$color-green-lightest:       #e7f4e4;
$color-green-lighter:        #94bfa2;
$color-green-light:          #4aa564;

$color-gold-lightest:        #fff1d2;
$color-gold-lighter:         #fad980;
$color-gold-light:           #f9c642;

$color-visited:              $color-purple;
$color-focus:                #3e94cf;

$focus-outline:              2px solid $color-gold-light;

$color-cool-blue:           #205493;
$color-cool-blue-light:     #4773aa;
$color-cool-blue-lighter:   #8ba6ca;
$color-cool-blue-lightest:  #dce4ef;
//===================================
// DSVA colors
// Places where DSVA is going rogue!
//===================================

$color-black:                #000;
$color-link-default:         #004795;
$color-link-default-hover:   rgba($color-black, 0.05);
$color-primary-alt-darkest:  #046b99;
$color-green-darker:         #195c27;
$color-va-accent:            #988530; // New gold "metal" acccent
$color-gold:                 #fdb81e;
$color-feedback-warning-background:      #fac922; // Used for Disability benefits
$color-gray-light-alt:       #eee;
$color-va-modal-bg:          rgba($color-gray-dark, .8);

$color-inset-bg:             #e0f3f8;
$color-gibill-accent:        #fff1d2; // TODO: Replace with $color-gold-lightest;

$color-white-alpha70:        rgba(255,255,255,.7);

$color-sidebar-nav-bg:   rgba($color-black, 0.25);


$color-orange: #EB7F29;
$color-gold-darker: #988530;
$color-light-blue: #0071bb;
$color-old-browser-background-start: #0071bb;
$color-old-browser-background-end: #112e51;

//===================================
// Hub Icon colors for BC
//
//===================================

$red-70v: #8b1303;
$red-60v: #b51d09;
$indigo-cool-60: #3f57a6;
$red-60: #a23737;
$mint-cool-50: #21827f;
$orange-warm-50: #bd5727;
$green-cool-50: #3e8520;
$gold-50: #8e704f;
$green-warm-50: #6f7a41;
$blue-50: #357ab2;
$violet-warm-60: #864381;

// Contextual variable names
$color-hub-health-care: $indigo-cool-60;
$color-hub-education: $mint-cool-50;
$color-hub-disability: $red-60;
$color-hub-careers: $orange-warm-50;
$color-hub-pension: $green-cool-50;
$color-hub-housing: $gold-50;
$color-hub-life-insurance: $green-warm-50;
$color-hub-burials: $blue-50;
$color-hub-records: $violet-warm-60;
$color-hub-family-member: $color-primary-darker;
$color-hub-service-member: $color-primary-darker;

//===================================
// Deprecated Colors;
// Please avoid using.
//===================================

$polar:       #E8F5FA;
$wild-sand:   #f6f6f6;
$green-white: #eff0e6;
$olso-gray:   #849097;
$light-blue:  #e1f3f8;
$mm-gray:     #f1f1f1;

//===================================
// Z-index values
//===================================
$base-layer: 0;
$low-layer: 100;
$middle-layer: 200;
$top-layer: 300;
$modal-layer: 400;


//===================================
// Spacing
//===================================
/*
## Learn more
- [The 8-Point Grid](https://spec.fm/specifics/8-pt-grid)
*/
$multiple: 8px !default;

// Map is used for margin and padding utilities.
$spacers: (
  0:    0,
  1px:  1px,
  0p25: $multiple * 0.25,
  0p5:  $multiple * 0.5,
  1:    $multiple,
  1p5:  $multiple * 1.5,
  2:    $multiple * 2,
  2p5:  $multiple * 2.5,
  3:    $multiple * 3,
  4:    $multiple * 4,
  5:    $multiple * 5,
  6:    $multiple * 6,
  7:    $multiple * 7,
  8:    $multiple * 8,
  9:    $multiple * 9
) !default;

// Map for spacing tokens in Rems
$units:(
  0:      0,
  1px:    .1,
  .25:    .2,
  .5:     .4,
  1:      .8,
  1.5:    1.2,
  2:      1.6,
  2.5:    2,
  3:      2.4,
  4:      3.2,
  5:      4,
  6:      4.8,
  7:      5.6,
  8:      6.4,
  9:      7.2,
  10:     8,
  15:     12,
  -1px:    -.1,
  -.25:    -.2,
  -.5:     -.4,
  -1:      -.8,
  -1.5:    -1.2,
  -2:      -1.6,
  -2.5:    -2,
  -3:      -2.4,
  -4:      -3.2,
  -5:      -4,
  -6:      -4.8,
  -7:      -5.6,
  -8:      -6.4,
  -9:      -7.2,
  -10:     -8,
  -15:     -12,
);


//====================================
// Grid columns
//===================================
$grid-columns: 12 !default;


//====================================
// Asset path overrides
//===================================
$formation-asset-path: '../assets' !default;
$formation-image-path: "#{$formation-asset-path}/img" !default;
$formation-font-path: "#{$formation-asset-path}/fonts" !default;
