.usa-alert {
  background: none;
  background-color: $color-gray-lightest;
  border-left-style: solid;
  border-left-width: 10px;
  display: table;
  min-height: 74px;
  padding: 2rem;
  padding-left: 4rem;
  width: 100%;

  &::before {
    background: none;
    font-family: "FontAwesome";
    font-size: 2rem;
    height: auto;
    left: 1rem;
    text-align: center;
    top: 2rem;
    width: 4rem;
  }

  &-body {
    display: table-cell;
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;
  }

  &-heading {
    font-size: 2rem;
    margin-top: 0;
    padding-top: 0;
  }

  &-text {
    margin-top: 2rem;

    &:only-child {
      margin: 0;
      margin-top: 0.2rem;
      padding: 0;
    }

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
       margin-bottom: 0;
    }

    // should override :first-child
    .usa-alert-heading + p:only-of-type {
      margin-top: 2rem;
    }

    ul {
      padding-left: 2rem;
    }
  }

  &-info {
    border-left-color: $color-primary-alt-dark;
    &::before {
      content: "\f05a";
    }
  }

  &-error {
    border-left-color: $color-secondary-dark;
    &::before {
      color: $color-secondary-dark;
      content: "\f06a"
    }
  }

  &-success {
    border-left-color: $color-green;
    &::before {
      color: $color-green;
      content: "\f00c";
    }
  }

  &-warning {
    border-left-color: $color-gold;
    &::before {
      content: "\f071";
    }
  }

  &-continue {
    border-left-color: $color-green;
    &::before {
      color: $color-green;
      content: "\f023";
    }
  }
}

.va-alert-close {
  background: transparent;
  color: $color-base;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: auto;

  &:hover {
    background: transparent !important;
    color: lighten($color-gray-dark, 30%);
  }

  .fa {
    // Override fa font-size.
    font-size: 1.45em !important;
  }
}

// on post-9/11 GI Bill
p.usa-alert-heading {
  margin-top: 0;
}

.claims-list-alert {
  margin-bottom: 1em;
  margin-top: 0;
}

.va-alert-close-icon {
  font-size: 1.1em !important;
}

.claims-alert-status {
  margin-top: 0;
  margin-bottom: 2em;
}

// blue box on individual claim details
.claims-alert-header {
  padding-bottom: 0 !important;
  margin-top: 0;
}

.alerts-list {
  list-style: none;

  li {
    margin-left: -.4em;
  }
}

.claims-alert-checkbox {
  > label {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
  }
}

.need-files-alert {
  padding-bottom: 4em;
  @include media($medium-large-screen) {
    padding-bottom: 1em;
  }
}

.alert-with-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include media($medium-large-screen) {
    flex-direction: row;
  }
}

// rx

.rx-app {

  // TODO: Find a better way to write this that doesn't rely on nesting
  .usa-alert {
    & + .rx-app-title {
      margin-top: 2.5rem;
    }
  }
}

// education benefits

// this can probably be removed
.edu-benefits-alert {
  margin-top: 0;
  margin-bottom: 23px;
}

.edu-warning-single-line {
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  .edu-warning-single-line {
    > .usa-alert-body {
      /*background-size: 4.2rem;
      background-position: 1.3rem 1.5rem;*/
    //  padding-left: 5rem;
    }
  }
}

//messaging
#messaging-app-header {
  .usa-alert {
    margin-bottom: 2em;
  }
}
