#mega-menu {
  flex: 1 0 100%;
  color: $color-primary;
  width: 100%;
  z-index: 2;

  @include media($medium-large-screen) {
    .vetnav-panel--submenu:not([hidden]) {
      box-shadow: none;
      width: 26rem;
      padding: 28px 0px 0px 28px;
      white-space: normal;

      h3 {
        color: $color-black;
        font-family: Source Sans Pro, sans serif;
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: 4px;
        padding: 0;
      }
    }

    .vetnav-level1[aria-expanded="true"] {
      border-top-color: $color-va-accent;
    }

    .vetnav-level2[aria-expanded="true"] {
      box-shadow: -3px 0 $color-va-accent;
    }

    .vetnav-panel {
      box-shadow: 0 7px 25px -11px $color-black;
      height: 470px;
      width: 1008px;
      left: 0;

      .mm-links {
        padding: 0;
      }

      .mm-link-container {
        width: 225px;
        margin-bottom: 0;
      }
    }

    .column-one {
      left: 20px;

      &.panel-white {
        background-color: $color-white;
        border-left: none;
      }
    }

    .column-two {
      border-left: none;
      left: 280px;

      &.panel-white {
        background-color: $color-white;
        border-left: none;
      }
    }

    .column-three {
      border-left: none;
      color: $color-black;
      left: 540px;
      white-space: normal;

      &.vetnav-panel--submenu:not([hidden]) {
        padding: 28px 20px 20px 14px;
        width: 24rem;
      }

      &.panel-white {
        background-color: $color-white;
        border-left: none;
      }

      a {
        font-weight: bold;
        padding: 14px 0px 0px 0px;
      }
    }
  }

  .panel-title {
    font-weight: bold;
    color: $color-black;
  }

  .vetnav-level2 {
    width: 24.3rem;
  }

  a.vetnav-level1 {
    color: $color-white;
  }

  .main-column {
    left: -230px;

    &.panel-white {
      background-color: $color-white;
    }
  }

  .panel-bottom-link {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;
    left: 0;
    margin-left: 14px;
    border-top: 1px solid #d0d0d0;
    z-index: 3;

    &:nth-child(2) {
      width: 87%;
    }

    a {
      background: transparent url(/img/arrow-right-blue.svg) right 1rem center no-repeat;
      background-size: 13px;
      font-weight: bold;
      padding: 20px 0px;
      display: inline-block;
      padding-right: 25px;
    }
  }

  .panel-top-link {
    display: none;
  }

  .back-button {
    display: none;
  }

  .mm-marketing-container {
    background-color: $light-blue;
    padding: 20px;
    height: 350px;

    img {
      margin-bottom: 20px;
    }

    p {
      margin-top: 5px;
    }
  }

  @media (max-width: 768px) {
    .column-three {
      display: none;
    }

    .vetnav-level2 {
      width: 100%;
    }

    .panel-top-link {
      &:nth-of-type(1) {
        display: block;
        font-weight: bold;
        padding-top: 15px;
      }
    }

    .vetnav-panel--submenu:not([hidden]) {
      position: initial;

      h3 {
        display: none;
      }

      .panel-bottom-link {
        display: none;
      }
    }

    .back-button {
      display: block;
    }

    .vetnav-panel {
      height: auto;
    }

    .mm-link-container-small {
      background: $color-primary-darkest;
      height: 100%;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 200;
    }
  }
}
