

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds: Default</title>
    <link rel="stylesheet" href="/design-system/dist/styles.css">
  </head>
  <body>
    <div id="reactMount" data-tpl="breadcrumbs"><nav aria-label="Breadcrumb" class="va-nav-breadcrumbs" id="va-breadcrumbs"><ol class="row va-nav-breadcrumbs-list columns" id="va-breadcrumbs-list"><li><a href="#1">link1</a></li><li><a href="#2">link2</a></li><li><a aria-current="page" href="#3">link3</a></li></ol></nav></div><script>window.currentProps = {"package":{"name":"department-of-veterans-affairs/formation","version":"0.7.2"},"assetPath":"/design-system/","isProduction":true,"componentSourcePath":"./Breadcrumbs.jsx","crumbs":[{"link":"#1","key":"key1","label":"link1"},{"link":"#2","key":"key2","label":"link2"},{"link":"#3","key":"key3","label":"link3","ariaCurrent":true}],"id":"va-breadcrumbs"}</script>
    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/design-system/dist/components.bundle.js"></script>
  </body>
</html>

