

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds: Default</title>
    <link rel="stylesheet" href="../../dist/css/uswds.min.css">
    <link rel="stylesheet" href="../../dist/css/style_vets.css">
  </head>
  <body>
    
<button class="usa-button-primary-alt">Default</button>

<button class="usa-button-primary-alt usa-button-active">Active</button>
<button class="usa-button-primary-alt usa-button-hover">Hover</button>


    <script src="../../dist/js/uswds.min.js"></script>
  </body>
</html>

