

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Framed: Default</title>
    <link rel="stylesheet" href="/design-system/styles.css">
  </head>
  <body>
    
  <div class="usa-grid" style="padding: 2em 0">
    <!-- Start: @buttons--primary -->
<button class="usa-button">Primary buttons</button>

<button class="usa-button usa-button-active">Active</button>
<button class="usa-button usa-button-hover">Hover</button>
<!-- End: @buttons--primary -->

<!-- Start: @buttons--primary-alt -->
<button class="usa-button-primary-alt">Primary alt buttons</button>

<button class="usa-button-primary-alt usa-button-active">Active</button>
<button class="usa-button-primary-alt usa-button-hover">Hover</button>
<!-- End: @buttons--primary-alt -->

<!-- Start: @buttons--secondary -->
<button class="usa-button-secondary">Secondary buttons</button>

<button class="usa-button-secondary usa-button-active">Active</button>
<button class="usa-button-secondary usa-button-hover">Hover</button>
<!-- End: @buttons--secondary -->

<!-- Start: @buttons--outline -->
<button class="usa-button-outline">Outline buttons</button>

<button class="usa-button-outline usa-button-active">Active</button>
<button class="usa-button-outline usa-button-hover">Hover</button>
<!-- End: @buttons--outline -->

<!-- Start: @buttons--focus -->
<button class="usa-button-focus">Button focus</button>

<button class="usa-button-focus usa-button-active">Active</button>
<button class="usa-button-focus usa-button-hover">Hover</button>
<!-- End: @buttons--focus -->

<!-- Start: @buttons--disabled -->
<button class="usa-button-disabled">Disabled button</button>
<!-- End: @buttons--disabled -->

<!-- Start: @buttons--big -->
<button class="usa-button-big">Big button</button>
<!-- End: @buttons--big -->

  </div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/design-system/components.bundle.js"></script>
  </body>
</html>

