

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds: Default</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div id="reactMount" data-tpl="checkbox"><div class="form-checkbox"><input type="checkbox" id="errorable-checkbox-1" label="Checkbox" title="Checkbox" autocomplete="false" aria-labelledby="errorable-checkbox-1-label"/><label id="errorable-checkbox-1-label" name="undefined-label" for="errorable-checkbox-1">Checkbox</label></div></div><script>window.currentProps = {"package":{"name":"vets.gov-design-system","version":"0.1.0"},"componentSourcePath":"../errorable_checkbox/ErrorableCheckbox.jsx","id":"default","label":"Checkbox","required":null,"title":"Checkbox"}</script>
    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/components.bundle.js"></script>
  </body>
</html>

