

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds: Default</title>
    <link rel="stylesheet" href="/design-system/dist/styles.css">
  </head>
  <body>
    <div id="reactMount" data-tpl="dropdownpanel"><div style="background-color:#112e51;"><div class="va-dropdown"><button class="va-dropdown va-dropdown-trigger" aria-expanded="false"><span>Helpdesk</span></button><div class="va-dropdown-panel" hidden="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper at eros eu suscipit. Ut imperdiet libero et luctus pretium.</div></div></div></div><script>window.currentProps = {"package":{"name":"department-of-veterans-affairs/formation","version":"1.12.0"},"assetPath":"/design-system/","isProduction":true,"componentSourcePath":"./DropDownPanel.jsx","id":"default","buttonText":"Helpdesk","cssClass":"va-dropdown","contents":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper at eros eu suscipit. Ut imperdiet libero et luctus pretium."}</script>
    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/design-system/dist/components.bundle.js"></script>
  </body>
</html>

