

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Content: Default</title>
    <link rel="stylesheet" href="../../dist/css/uswds.min.css">
    <link rel="stylesheet" href="../../dist/css/style_vets.css">
  </head>
  <body>
    
  <div class="usa-grid" style="padding: 2em">
    <div class="usa-width-one-whole">
      <div class="usa-embed-container">
  <iframe src="https://www.youtube.com/embed/iLD4Bu6I2I8" frameborder="0" allowfullscreen title="Introducing the US Web Design Standards (YouTube)"></iframe>
</div>

    </div>
  </div>

    <script src="../../dist/js/uswds.min.js"></script>
  </body>
</html>

