

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Content: Default</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    
  <div class="usa-grid" style="padding: 2em">
    <div class="usa-width-one-whole">
      <div id="reactMount" data-tpl="errorableselect"></div><script>window.currentProps = {"package":{"name":"department-of-veteran-affairs/jean-pants","version":"0.1.0"},"assetPath":"/","isProduction":null,"componentSourcePath":"./ErrorableSelect.jsx","errorMessage":"This is the error message","name":"Attribute name","options":["first option","second option","third option"],"required":true,"value":{"value":"Value","dirty":true}}</script>
    </div>
  </div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/components.bundle.js"></script>
  </body>
</html>

