

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Content: Default</title>
    <link rel="stylesheet" href="/dist/styles.css">
  </head>
  <body>
    
  <div class="usa-grid" style="padding: 2em">
    <div class="usa-width-one-whole">
      <div id="reactMount" data-tpl="errorabledate"></div><script>window.currentProps = {"package":{"name":"department-of-veterans-affairs/formation","version":"1.12.1"},"assetPath":"/","isProduction":null,"componentSourcePath":"./ErrorableDate.jsx","required":true,"label":"Please tell us a date","name":"Errorable Date","date":{"day":{"value":"14","dirty":null},"month":{"value":"4","dirty":null},"year":{"value":"1983","dirty":null}},"requiredMessage":"Please provide a response","invalidMessage":"Please provide a valid date"}</script>
    </div>
  </div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/dist/components.bundle.js"></script>
  </body>
</html>

