

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Content: Default</title>
    <link rel="stylesheet" href="/design-system/dist/styles.css">
  </head>
  <body>
    
  <div class="usa-grid" style="padding: 2em">
    <div class="usa-width-one-whole">
      <div id="reactMount" data-tpl="errorabletextarea"><div class="usa-input-error"><label id="errorable-textarea-20-label" class="usa-input-error-label" for="errorable-textarea-20">Label<span class="hca-required-span">*</span></label><span class="usa-input-error-message" role="alert" id="errorable-textarea-20-error-message"><span class="sr-only">Error</span> Error message</span><textarea class="" aria-describedby="errorable-textarea-20-error-message" aria-labelledby="errorable-textarea-20-label" id="errorable-textarea-20" placeholder="Placeholder" name="Name" maxlength="255"></textarea></div></div><script>window.currentProps = {"package":{"name":"department-of-veterans-affairs/formation","version":"1.0.1"},"assetPath":"/design-system/","isProduction":true,"componentSourcePath":"./ErrorableTextArea.jsx","disabled":null,"errorMessage":"Error message","label":"Label","placeholder":"Placeholder","name":"Name","required":true,"field":{"dirty":null},"charMax":255}</script>
    </div>
  </div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/design-system/dist/components.bundle.js"></script>
  </body>
</html>

