

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds: Default</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div id="reactMount" data-tpl="expanding_group"><div class="form-expanding-group form-expanding-group-plus"><div>visible child</div><span></span></div></div><script>window.currentProps = {"package":{"name":"vets.gov-design-system","version":"0.1.0"},"componentSourcePath":"./ExpandingGroup.jsx","open":null,"key":5,"showPlus":true}</script>
    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/components.bundle.js"></script>
  </body>
</html>

