

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds: Default</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div id="reactMount" data-tpl="expanding_group"><div><button>Toggle Expanding Group</button><div class="form-expanding-group form-expanding-group-open"><div>visible child</div><span><div><div>hidden child</div></div></span></div></div></div><script>window.currentProps = {"package":{"name":"vets.gov-design-system","version":"0.1.0"},"componentSourcePath":"./ExpandingGroup.jsx","open":true,"expandedContentId":"expandedContentId"}</script>
    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/components.bundle.js"></script>
  </body>
</html>

