

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Framed: Default</title>
    <link rel="stylesheet" href="/dist/styles.css">
  </head>
  <body>
    
  <div class="usa-grid" style="padding: 2em 0">
    
  <section class='usa-grid'>
    <div class="va-h-ruled--stars"></div>
  </section>
  <h2 class="hub-page-link-list__title">
   Get Veterans Burial Benefits
  </h2>
  <ul id="get" class="hub-page-link-list">
  
    <li class="hub-page-link-list__item">
        <a href="/burials-memorials/eligibility/"   />
        <span class="hub-page-link-list__header">
         Eligibility
          
            <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
          
        </span>
        <p class="hub-page-link-list__description">
        Find out if you qualify for burial in a VA national cemetery and for other burial honors.
        </p>
      </a>
    </li>
    
    <li class="hub-page-link-list__item">
        <a href="/burials-memorials/pre-need-eligibility/"   />
        <span class="hub-page-link-list__header">
         Pre-Need Burial Eligibility Determination
          
            <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
          
        </span>
        <p class="hub-page-link-list__description">
        Apply for a pre-need eligibility decision letter. This can help you pre-plan for burial in a VA national cemetery, and make the process easier for your family members in their time of need.
        </p>
      </a>
    </li>
    
    <li class="hub-page-link-list__item">
        <a href="/burials-memorials/veterans-burial-allowance/"   />
        <span class="hub-page-link-list__header">
         Veteran Burial Allowance
          
            <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
          
        </span>
        <p class="hub-page-link-list__description">
        Learn how to apply for a burial allowance to help pay for a Veteran's funeral services, burial, and transportation costs.
        </p>
      </a>
    </li>
    
    <li class="hub-page-link-list__item">
        <a href="/burials-memorials/memorial-items/"   />
        <span class="hub-page-link-list__header">
         Memorial Items
          
            <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
          
        </span>
        <p class="hub-page-link-list__description">
        Find out how to apply for grave markers, headstones, Presidential Memorial Certificates, and other memorial items to honor a Veteran's service.
        </p>
      </a>
    </li>
    
    <li class="hub-page-link-list__item">
        <a href="/burials-memorials/dependency-indemnity-compensation/"   />
        <span class="hub-page-link-list__header">
         Compensation Benefits for Surviving Spouse and Dependents (VA DIC)
          
            <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
          
        </span>
        <p class="hub-page-link-list__description">
        Learn about getting VA disability benefits for a surviving spouse or a dependent child or parent.
        </p>
      </a>
    </li>
    
    <li class="hub-page-link-list__item">
        <a href="/burials-memorials/bereavement-counseling/"   />
        <span class="hub-page-link-list__header">
         Bereavement Counseling
          
            <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
          
        </span>
        <p class="hub-page-link-list__description">
        See if you qualify for grief counseling and transition support after the loss of an active-duty Servicemember, Reservist, or National Guard Soldier.
        </p>
      </a>
    </li>
    
  </ul>

  <section class='usa-grid'>
    <div class="va-h-ruled--stars"></div>
  </section>
  <h2 class="hub-page-link-list__title">
   Plan a Burial
  </h2>
  <ul id="manage" class="hub-page-link-list">
  
    <li class="hub-page-link-list__item">
        <a href="/burials-memorials/plan-a-burial/"   />
        <span class="hub-page-link-list__header">
         Plan a Burial for a Veteran, Spouse, or Dependent Family Member
          
            <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
          
        </span>
        <p class="hub-page-link-list__description">
        Get step-by-step guidance on how to request and apply for a burial in a VA national cemetery, or in a state or tribal government Veterans cemetery.
        </p>
      </a>
    </li>
    
    <li class="hub-page-link-list__item">
        <a href="https://www.cem.va.gov/cem/burial_benefits/need.asp"   />
        <span class="hub-page-link-list__header">
         Schedule a Burial in a VA National Cemetery
          
            <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
          
        </span>
        <p class="hub-page-link-list__description">
        Learn how to work with the VA National Cemetery Scheduling Office to schedule a burial.
        </p>
      </a>
    </li>
    
    <li class="hub-page-link-list__item">
        <a href="https://www.cem.va.gov/cems/listcem.asp"   />
        <span class="hub-page-link-list__header">
         Find a National, State, or Tribal Government Veterans Cemetery
          
            <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
          
        </span>
        <p class="hub-page-link-list__description">
        Search for national, state, or tribal government Veterans cemeteries.
        </p>
      </a>
    </li>
    
    <li class="hub-page-link-list__item">
        <a href="/records/get-military-service-records/"   />
        <span class="hub-page-link-list__header">
         Request Military Records (DD214)
          
            <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
          
        </span>
        <p class="hub-page-link-list__description">
        View and print documents from your official military personnel file (including your DD214).
        </p>
      </a>
    </li>
    
  </ul>


  </div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/dist/components.bundle.js"></script>
  </body>
</html>

