

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Framed: Default</title>
    <link rel="stylesheet" href="/design-system/styles.css">
  </head>
  <body>
    
  <div class="usa-grid" style="padding: 2em 0">
    
  <div class="usa-grid-full">
    <div class="usa-width-one-third">

      <h6 class="usa-heading-alt">Unordered list</h6>

      <ul>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
      </ul>

    </div>

    <div class="usa-width-one-third">

      <h6 class="usa-heading-alt mt0">Ordered list</h6>

      <ol>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
      </ol>

    </div>
  </div>


  </div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/design-system/components.bundle.js"></script>
  </body>
</html>

