

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Content: Default</title>
    <link rel="stylesheet" href="/design-system/dist/styles.css">
  </head>
  <body>
    
  <div class="usa-grid" style="padding: 2em">
    <div class="usa-width-one-whole">
      <div id="reactMount" data-tpl="progressbar"><div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" tabindex="0"><div class="progress-bar-inner" style="width:35%;"></div></div></div><script>window.currentProps = {"package":{"name":"department-of-veterans-affairs/formation","version":"1.7.7"},"assetPath":"/design-system/","isProduction":true,"componentSourcePath":"ProgressBar.jsx","percent":35}</script>
    </div>
  </div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/design-system/dist/components.bundle.js"></script>
  </body>
</html>

