

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Content: Default</title>
    <link rel="stylesheet" href="/dist/styles.css">
  </head>
  <body>
    
  <div class="usa-grid" style="padding: 2em">
    <div class="usa-width-one-whole">
      <div id="reactMount" data-tpl="segmentedprogressbar"></div><script>window.currentProps = {"package":{"name":"department-of-veterans-affairs/formation","version":"1.12.1"},"assetPath":"/","isProduction":null,"componentSourcePath":"SegmentedProgressBar.jsx","id":"default","current":4,"total":6}</script>
    </div>
  </div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/dist/components.bundle.js"></script>
  </body>
</html>

