

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Content: Default</title>
    <link rel="stylesheet" href="/design-system/styles.css">
  </head>
  <body>
    
  <div class="usa-grid" style="padding: 2em">
    <div class="usa-width-one-whole">
      <div id="reactMount" data-tpl="segmentedprogressbar"><div class="progress-bar-segmented" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="6" tabindex="0"><div class="progress-segment progress-segment-complete"></div><div class="progress-segment progress-segment-complete"></div><div class="progress-segment progress-segment-complete"></div><div class="progress-segment progress-segment-complete"></div><div class="progress-segment "></div><div class="progress-segment "></div></div></div><script>window.currentProps = {"package":{"name":"department-of-veteran-affairs/jean-pants","version":"0.1.0"},"assetPath":"/design-system/","isProduction":true,"componentSourcePath":"SegmentedProgressBar.jsx","id":"default","current":4,"total":6}</script>
    </div>
  </div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/design-system/components.bundle.js"></script>
  </body>
</html>

