

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds: Default</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="usa-navbar">
  <div class="usa-logo" id="logo">
    <em class="usa-logo-text">
      <a href="/"
        title="Home"
        aria-label="Home">
        Department of Web Design
      </a>
    </em>
  </div>
  <button class="usa-menu-btn">Menu</button>
</div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/components.bundle.js"></script>
  </body>
</html>

