

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds: Default</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    
  <div class="usa-alert usa-alert-success">
    <div class="usa-alert-body va-alert-body">
      <h3 class="va-alert-title">Success Status</h3>
      <p>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-warning">
    <div class="usa-alert-body va-alert-body">
      <h3 class="va-alert-title">Warning Status</h3>
      <p>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-error" role="alert">
    <div class="usa-alert-body va-alert-body">
      <h3 class="va-alert-title">Error Status</h3>
      <p>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-info">
    <div class="usa-alert-body va-alert-body">
      <h3 class="va-alert-title">Information Status</h3>
      <p>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-info">
    <div class="usa-alert-body va-alert-body">
      <h3 class="va-alert-title">Information Status</h3>
      <p>Multi line. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui atione voluptatem sequi nesciunt. Neque porro quisquam est, qui doloremipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-info usa-alert-paragraph">
    <div class="usa-alert-body va-alert-body">
      <h3 class="va-alert-title">Information Status - Paragraph Width</h3>
      <p>Multi line. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui atione voluptatem sequi nesciunt. Neque porro quisquam est, qui doloremipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/components.bundle.js"></script>
  </body>
</html>

