

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds Framed: Default</title>
    <link rel="stylesheet" href="/design-system/styles.css">
  </head>
  <body>
    
  <div class="usa-grid" style="padding: 2em 0">
    <!-- Start: @typesetting--h1 -->
<div class="usa-grid">

  
    <h1>Headline H1</h1>
  

</div>
<!-- End: @typesetting--h1 -->

<!-- Start: @typesetting--h2 -->
<div class="usa-grid">

  
    <h2>Headline H2</h2>
  

</div>
<!-- End: @typesetting--h2 -->

<!-- Start: @typesetting--h3 -->
<div class="usa-grid">

  
    <h3>Headline H3</h3>
  

</div>
<!-- End: @typesetting--h3 -->

<!-- Start: @typesetting--h4 -->
<div class="usa-grid">

  
    <h4>Headline H4</h4>
  

</div>
<!-- End: @typesetting--h4 -->

<!-- Start: @typesetting--h5 -->
<div class="usa-grid">

  
    <h5>Headline H5</h5>
  

</div>
<!-- End: @typesetting--h5 -->

<!-- Start: @typesetting--h6 -->
<div class="usa-grid">

  
    <h6>Headline H6</h6>
  

</div>
<!-- End: @typesetting--h6 -->

<!-- Start: @typesetting--introtext -->
<div class="usa-grid">

  
    <div class="va-introtext">
      <p>VA Intro Text has the class 'va-introtext'. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis laoreet augue scelerisque sollicitudin.</p>
    </div>
  

</div>
<!-- End: @typesetting--introtext -->

<!-- Start: @typesetting--standard-paragraph -->
<div class="usa-grid">

  
    <div class="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis laoreet augue scelerisque sollicitudin. Proin sodales sodales posuere.</p>
    </div>
  

</div>
<!-- End: @typesetting--standard-paragraph -->

  </div>

    <script src="https://unpkg.com/uswds/dist/js/uswds.min.js"></script>
    <script src="/design-system/components.bundle.js"></script>
  </body>
</html>

